.logo {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(0, 59, 59);
  border-radius: 10;
  box-shadow: 0px 5px 40px rgb(0, 0, 0);
  padding: 10;
}
.menus {
  display: flex;
  list-style-type: none;
  color: rgb(255, 255, 255);
  gap: 10;
 
  
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar > input {
  border: 2px solid rgb(0, 86, 108);
  border-radius: 4px;
  background-color: #58a10000;
  color: rgb(0, 101, 99);
  height: 30px;
  width: 200px;
  margin-right: 3;
}

.menus > li {
  padding: 5px;
  margin-right: 5px;
}
.menus > li:hover {
  color: black;
  cursor: pointer;
}

.card {
  width: 250px;
  height: 350px;
  border: 2px solid rgb(235, 178, 178);
  margin: 10;
  border-radius: 10;
  box-shadow: 5px 1px 10px;
  padding: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40;
}
.card > img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5;
  margin-top: 40;
  
}
.ShimmerParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
}

.shimmerCard{
  width: 250px;
  height: 350px;
  background-color: rgb(179, 179, 179);
  margin: 10;
  padding: 10;
  margin-top: 40;
  border-radius: 10;


}
